#app {
  display: flex;
}
.page {
  margin: 20px;
}
.editor-container {
  display: flex;
}
.editor-title {
  font-size: 2em;
  font-weight: 600;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}
.editor-content {
  width: 100%;
  height: 500px;
}
